<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="867858739826-0j8s1vplsccuqcha9tng77pmrpc49mam.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<form id = "SignInForm" action="{% url 'tracker:signedin' %}" method="post">
{% csrf_token %}
    <input type="hidden" id = "TokenID" name="TokenID" value="Not Logged In">
    <input type="hidden" id = "Email" name="Email" value="Not Logged In">
    <input type="hidden" id = "GoogleID" name="googleid" value="867858739826-0j8s1vplsccuqcha9tng77pmrpc49mam.apps.googleusercontent.com">
</form>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    var id_token = googleUser.getAuthResponse().id_token;
    document.getElementById("TokenID").value = id_token;
    document.getElementById("Email").value = profile.getEmail();
    document.getElementById("SignInForm").submit();
}
</script>
